<ion-content class="login-content" padding>
  
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img class="rounded-circle" src="../../assets/img/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box">
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input id="username" name="username" type="text" placeholder="Usuário" (keyup)="onKeyUp($event.target.value)" onpaste="return false;"
               autocapitalize="off" #username="ngModel" [(ngModel)]="credentials.username" required minlength="6" maxlength="15"></ion-input>
            </ion-item>
            <span *ngIf="username.touched && username?.errors?.minlength" class="login-error">
              Username deve possuir no mínimo {{ username?.errors.minlength.requiredLength }} caracteres
            </span>
            <br>
            <ion-item>
              <ion-input id="password" name="password" type="password" placeholder="*****" onpaste="return false;"
               #password="ngModel" [(ngModel)]="credentials.password" required minlength="6" maxlength="15"></ion-input>
            </ion-item>
            <span *ngIf="password.touched && password?.errors?.minlength" class="login-error">
              Senha deve possuir no mínimo {{ password?.errors.minlength.requiredLength }} caracteres
            </span>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="login-col">
          <button ion-button class="submit-btn" full round type="submit" [disabled]="!loginForm.form.valid">Entrar</button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
