page-consumo {
    h1{
        text-transform: capitalize;
        font-size: 2.94em;
    }

    .vertical-align-content > * {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    
    .flexcontainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
     }
    
    .fab {
        zoom: 3;
    }
}
