page-detalhes-paciente {
    h1 {
        font-size: 2.2em;
    }
    
    #title{
        margin-right: 15%;
        font-size: 1.7em;
    }

    #segment{
        width: 122%;
        margin-left: -11%;
    }
}

